{{!-- Post Share --}}
<ul class="post-actions post-actions--top u-flex-center u-unstyled">
	<li>
		<a class="post-actions-comment scrolltop" href="#SOHUCS">
			<i class="i-chat"></i>
			<span href="#SOHUCS" id="changyan_count_unit"></span>
		</a>
	</li>
	<li><a href="#" class="btn btn-circle-small custom-share i-facebook bg-facebook" godo-share="facebook" godo-url="{{url absolute="true"}}"></a></li>
	<li><a href="#" class="btn btn-circle-small custom-share i-twitter bg-twitter" godo-share="twitter" godo-title="{{title}}" godo-url="{{url absolute="true"}}"></a></li>
	<li><a href="#" class="btn btn-circle-small custom-share i-linkedin bg-linkedin" godo-share="linkedin" godo-url="{{url absolute="true"}}"></a></li>
	<li><a href="#" class="fa fa-weixin btn-circle-small custom-share bg-wechat" godo-title="{{title}}" godo-share="wechat" godo-url="{{url absolute="true"}}"></a></li>
	<li><a href="#" class="fa fa-weibo btn-circle-small custom-share bg-weibo" godo-title="{{title}}" godo-share="weibo" godo-url="{{url absolute="true"}}"></a></li>
	<li><a href="#" class="fa fa-tencent-weibo btn-circle-small custom-share bg-tencent-weibo" godo-title="{{title}}" godo-share="tencent-weibo" godo-url="{{url absolute="true"}}"></a></li>
</ul>

