{{!-- Post Share --}}
<ul class="post-actions post-actions--top u-flex-center u-unstyled">
	<li>
		<a class="post-actions-comment scrolltop" href="#post-comments">
			<i class="i-chat"></i>
			<span class="duoshuo-comment-count" data="{{slug}}"></span>
		</a>
	</li>
	<li><a href="#" class="btn btn-circle-small share i-facebook bg-facebook" godo-share="facebook" godo-url="{{url absolute="true"}}"></a></li>
	<li><a href="#" class="btn btn-circle-small share i-twitter bg-twitter" godo-share="twitter" godo-title="{{title}}" godo-url="{{url absolute="true"}}"></a></li>
	<li><a href="#" class="btn btn-circle-small share i-linkedin bg-linkedin" godo-share="linkedin" godo-url="{{url absolute="true"}}"></a></li>
	<li><a href="#" class="fa fa-weixin btn-circle-small share bg-wechat" godo-share="wechat" godo-url="{{url absolute="true"}}"></a></li>
	<li><a href="#" class="fa fa-weibo btn-circle-small share bg-weibo" godo-share="weibo" godo-url="{{url absolute="true"}}"></a></li>
	<li><a href="#" class="fa fa-tencent-weibo btn-circle-small share bg-tencent-weibo" godo-share="tencent-weibo" godo-url="{{url absolute="true"}}"></a></li>
</ul>

