<div class="bottom-share col s12 m5">
	<h5>分享这篇文章</h5>
	<ul class="post-actions post-actions--bottom u-flex-center u-unstyled">
		<li><a href="#" class="custom-share btn i-facebook bg-facebook" godo-share="facebook" godo-url="{{url absolute="true"}}"></a></li>
		<li><a href="#" class="custom-share btn i-twitter bg-twitter" godo-share="twitter" godo-title="{{title}}" godo-url="{{url absolute="true"}}"></a></li>
		<li><a href="#" class="custom-share btn i-linkedin bg-linkedin" godo-share="linkedin" godo-url="{{url absolute="true"}}"></a></li>
		<li><a href="#" class="fa fa-weixin custom-share custom-btn bg-wechat" godo-title="{{title}}" godo-share="wechat" godo-url="{{url absolute="true"}}"></a></li>
		<li><a href="#" class="fa fa-weibo  custom-share custom-btn bg-weibo" godo-title="{{title}}" godo-share="weibo" godo-url="{{url absolute="true"}}"></a></li>
		<li><a href="#" class="fa fa-tencent-weibo custom-btn  custom-share bg-tencent-weibo" godo-title="{{title}}" godo-share="tencent-weibo" godo-url="{{url absolute="true"}}"></a></li>
	</ul>
</div>
