<!DOCTYPE html>
<head>
	{{!-- Document Settings --}}
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	{{!-- Page Meta --}}
	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}" />

	{{!-- Mobile Meta --}}
	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

	{{!-- Brand icon --}}
	<link rel="shortcut icon" href="{{asset "img/icon.png"}}" />
	<link rel="icon" sizes="192x192" href="{{asset "img/icon.png"}}" />

	{{!-- Styles'n'Scripts --}}
	<link rel="stylesheet" type="text/css" href="{{asset "minified/main.min.css"}}" />
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300,400,500" rel="stylesheet">

	{{!-- jQuery --}}
	<script src="{{asset "minified/jquery-2.2.4.min.js"}}"></script>
	{{! Ghost outputs important style and meta data with this tag }}
	{{ghost_head}}
</head>
<body class="{{#is "home"}}is-frontpage{{/is}}{{#is "post"}}is-article{{/is}}{{#is "tag"}}is-tag{{/is}}{{#is "author"}}is-author{{/is}}" mapache-page-url="{{@blog.url}}">
	{{!-- Add Header --}}
	{{> "header"}}
	{{!-- Add Content Body --}}
	<main class="main">{{{body}}}</main>
	{{!-- Add footer --}}
	{{> "footer"}}

	{{! Ghost outputs important scripts and data with this tag }}
	{{ghost_foot}}

	<a href="#" class="scroll_top u-h-b-lg i-arrow_upward"></a>

	{{!-- The main JavaScript file for Mapache --}}
	<script type="text/javascript">var duoshuoQuery = {short_name:"qingtianxueri"};</script>
	<script src="https://static.duoshuo.com/embed.js"></script>
	<script src="{{asset "minified/instantclick.min.js"}}" data-no-instant></script>
	<script src="{{asset "minified/wow.min.js"}}"></script>
	<!-- <script src="{{asset "minified/main.min.js"}}" data-no-instant></script> -->
	<script src="{{asset "js/default.js"}}"></script>
	<script src="{{asset "js/default_test.js"}}"></script>
	<script src="{{asset "js/share.js"}}"></script>
	<script src="{{asset "js/style.js"}}"></script>
	<script data-no-instant>
		$(document).on('ready', function(){
			new WOW().init();
			window.defaultApp.init();
			window.app.documentReadyInitApp();
		});
		InstantClick.on('change', function(isInstant){
			if (isInstant === false) {
				new WOW().init();
				window.defaultApp.init();
				//设置文章列表获取下一页从第二页开始
				window.app.page = 1;
				window.app.instantClickInitApp();
			}
		});
		InstantClick.init();
	</script>

</body>
</html>
